<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>"杏林春雨"脑瘫儿童公益救助活动</title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/tabstyles.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/iconfont.css"/>
    <script src="jquery-1.8.3/jquery.min.js"></script>
    <script src="layer/layer.js"></script>
    <script src="lib/cbpFWTabs.js"></script>
    <script src="js/common.js"></script>
    <script src="lib/template.js"></script>
    <script src="js/url.js"></script>
</head>
<body>
<section>
    <div class="tabs tabs-style-iconbox">
        <nav>
            <ul>
                <li><a href="#" class=""><span>项目介绍</span></a></li>
                <li><a href="#" class=""><span>时间安排</span></a></li>
                <li><a href="#" class=""><span>救助对象</span></a></li>
                <li><a href="#" class=""><span>项目背景</span></a></li>
            </ul>
        </nav>
        <div class="content-wrap">
            <section id="section-iconbox-1">
                <p class="one">救助对象：陇南市及周边地区，经“杏林春雨”活动专家组成员确诊为脑瘫， 0-16岁的有康复潜力和康复价值的脑瘫儿童。</p>
                <p class="two">根据脑瘫儿童的康复需求，对部分需要实施手术的提供手术资助，对有辅具需求的提供辅具适配。</p>
                <a id="takein" class="btn" href="">报送资料</a>
                <p class="three">救助标准</p>
                <ul class="honour">
                    <li>• 在全市选出20-50名困难家庭的脑瘫儿童，进行免费治疗，治疗期间除来回车费外，治疗费用全免。</li>
                    <li>• 除困难家庭的脑瘫儿童外，其他需要治疗的脑瘫儿童也可参加本次公益活动，享受减免1000元—8000元不等的治疗费用，并报销来回路费（以火车硬座价格计算）。</li>
                    <li>• 对凡经“杏林春雨”专家组筛查确诊为脑瘫儿童的，市慈善协会向参与此次摸底、提供调查资料的公益组织给予每例50元补贴。</li>
                </ul>
            </section>
            <section id="section-iconbox-2">
                <ul class="tab2">
                    <li>
                        <div class="tab2_nav clearfix">
                            <p class="fl">1.摸底推荐</p>
                            <!--<p class="fr">2017.06.29-2017.06.29</p>-->
                        </div>
                        <div class="desc">
                            <p>由全市各级民政、残联、慈善、志愿服务组织对辖区脑瘫儿童进行摸底、填报信息资料，上报市慈善协会汇总。</p>
                        </div>
                    </li>
                    <li>
                        <div class="tab2_nav  clearfix">
                            <p class="fl">2.现场筛查</p>
                            <!--<p class="fr">2017.06.29-2017.06.29</p>-->
                        </div>
                        <div class="desc">
                            <p>经“杏林春雨”专家现场筛查，对符合治疗条件的，患儿家长（监护人）填写《陇南市“杏林春雨”脑瘫儿童公益救助活动申请审批表》</p>
                        </div>
                    </li>
                    <li>
                        <div class="tab2_nav  clearfix">
                            <p class="fl">3.确定对象</p>
                            <!--<p class="fr">2017.06.29-2017.06.29</p>-->
                        </div>
                        <div class="desc"><p>
                            由市慈善协会牵头，与市民政局、市残联、“杏林春雨”专家组共同确定救助对象。
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="tab2_nav  clearfix">
                            <p class="fl">4.实施救助</p>
                            <!--<p class="fr">2017.06.29-2017.06.29</p>-->
                        </div>
                        <div class="desc">
                            <p>
                            救助对象确定后，由患儿家长（监护人）与全国小儿脑瘫康复专项基金签订治疗协议，确定治疗时间、组织前往北京实施治疗。
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
            <section id="section-iconbox-3">
                <!--<ul class="tab2">-->
                   <!--<li class="clearfix">-->
                       <!--<div class="fl">-->
                           <!--<p> 姓名</p>-->
                           <!--<p> 男 </p>-->
                           <!--<p> 3岁</p>-->
                       <!--</div>-->
                       <!--<span class="fr">报送成功</span>-->
                   <!--</li>-->
                    <!--<li class="clearfix">-->
                       <!--<div class="fl">-->
                           <!--<p> 姓名</p>-->
                           <!--<p> 男 </p>-->
                           <!--<p> 3岁</p>-->
                       <!--</div>-->
                       <!--<span class="fr">报送成功</span>-->
                   <!--</li>-->

                <!--</ul>-->

            </section>
            <section id="section-iconbox-4">
                <div class="tab2">
                   <p>为了解决我市低收入家庭脑瘫患儿看病困难的问题，让更多儿童脑瘫患者得到更好的医治。陇南市民政局、陇南市慈善协会、陇南市残联、陇南市志愿服务联合会与全国小儿脑瘫康复专项基金、吴阶平医学基金会联合在我市开展“杏林春雨”脑瘫儿童公益救助活动，用奉献和关爱去点亮患者的未来，救助那些最需要帮助的儿童，感受社会大家庭的温暖。</p>
                </div>

            </section>
        </div><!-- /content -->
    </div><!-- /tabs -->
    <div class="mask">
        <div class="text">
            <p>无法获取您的公益信息</p>
            <p>请在爱信公益APP内报送信息</p>
            <button class="index_add">打开爱信公益</button>
            <img id="close" src="images/关闭.png" alt=""/>
        </div>
    </div>
    <input name="getuserid" id="getuserid" value="" style="display: none"  type="text"/>
</section>

<!-- 站长统计 start-->
<div style="display:none">
    <script src="lib/total.js"></script>
</div>
<!-- 站长统计 end -->
</body>
<script type="text/html" id="list">

    <ul class="tab2">
        {{each data as v i}}
        <li class="clearfix">
            <div class="fl">
                <p> {{v.name}}</p>
                <p> {{if v.sex==1}}男{{/if}}{{if v.sex==2}}女{{/if}}</p>
                <p> {{v.age}}岁</p>
            </div>
            <!--<span class="fr status"> {{if v.approvalStatus=="success"}}报送成功{{/if}}{{if v.sex=="fail"}}条件不符{{/if}}</span>-->
            <span class="fr status">报送成功</span>
        </li>
        {{/each}}
    </ul>
</script>
<script src="js/index.js"></script>
</html>